In [ ]:
!pip install -q neptune-client

     |████████████████████████████████| 278 kB 18.7 MB/s
     |████████████████████████████████| 829 kB 60.4 MB/s
     |████████████████████████████████| 52 kB 1.5 MB/s
     |████████████████████████████████| 180 kB 55.7 MB/s
     |████████████████████████████████| 131 kB 67.1 MB/s
     |████████████████████████████████| 79 kB 8.6 MB/s
     |████████████████████████████████| 8.0 MB 71.7 MB/s
     |████████████████████████████████| 138 kB 72.5 MB/s
     |████████████████████████████████| 63 kB 2.2 MB/s
     |████████████████████████████████| 127 kB 71.8 MB/s
     |████████████████████████████████| 67 kB 5.8 MB/s
     |████████████████████████████████| 129 kB 25.8 MB/s
  Building wheel for neptune-client (setup.py) ... done
  Building wheel for future (setup.py) ... done
  Building wheel for strict-rfc3339 (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [ ]:
import neptune.new as neptune
import pandas as pd

In [ ]:
df = pd.read_csv("/content/neptue_timeseries_toupload_example.csv")

In [ ]:
df.head()

         DATE  VALUE
0  17/10/2021  100.0
1  18/10/2021  102.5
2  19/10/2021  101.4
3  20/10/2021  103.1
4  21/10/2021  103.9

In [ ]:
values = df['VALUE'].values.tolist()

In [ ]:
# convert datemtime to unix timestamp seconds
dates = (pd.to_datetime(df['DATE']) - pd.Timestamp("1970-01-01")) // pd.Timedelta("1s")

In [ ]:
run = neptune.init(
    project= 'common/showroom',
    api_token='ANONYMOUS'
)

https://app.neptune.ai/common/showroom/e/SHOW-3361
Remember to stop your run once you’ve finished logging your metadata (https://docs.neptune.ai/api-reference/run#stop). It will be stopped automatically only when the notebook kernel/interactive console is terminated.

In [ ]:
for v, d in zip(values, dates):
    run['timeseries'].log(value= v, timestamp=int(d))

In [ ]:
run.stop()

Shutting down background jobs, please wait a moment...
Done!

Waiting for the remaining 1 operations to synchronize with Neptune. Do not kill this process.

All 1 operations synced, thanks for waiting!